//import your images
const images = {
  city: require("../assets/city.jpg")
  image2: require("../path/to/image.png")
}

//load your images
preloader(images);

//build your theme - top is colors, bottom is fonts
const theme = createTheme({
  primary: "white",
  secondary: "#1F2022",
  tertiary: "#03A9FC",
  quartenary: "#CECECE"
}, {
  primary: "Montserrat",
  secondary: "Helvetica"
});

//to reference an image
<Slide bgImage={images.city}/>

//to reference a color/font
<Slide bgColor='primary'/>


