//This is how we build a D3 Chart using Victory

<div style={{position: "absolute", right: -300, top: -375, height: 800, width: 800}}>
  //This button calls a function to get additional data from Tableau JS API
  <button onClick={this.getMoreData.bind(this)} style={{ fontSize: "12px" }}>
    Click to get More Data!
  </button>
  //Victory Chart is the wrapper
  <VictoryChart
    domainPadding={20}
    theme={VictoryTheme.material}
    responsive={false}
    width={800}
    height={800}
  >
    //Then we compose with Labels, Axes, and the Chart type (in this case Line)
    <VictoryLabel
      text="getData from Tableau"
      x={30}
      y={30}
      style={{ textAnchor: "start", verticalAnchor: "end", fill: "#000000", 
      fontFamily: "inherit", fontSize: "18px", fontWeight: "bold"}}
    />
    <VictoryAxis fixLabelOverlap={true} tickValues={[""]} />
    <VictoryAxis
      dependentAxis={true}
      label={this.state.label}
      style={{ axisLabel: { fontSize: 20, padding: 30 } }}
    />
    //Then we feed the chart data out of our state {this.state.victoryData}
    //It will automatically update the chart as state changes
    <VictoryLine data={this.state.victoryData} animate={{ duration: 1000 }} />
  </VictoryChart>
</div>;
